{% extends widget.get_base_template %}

{% block content %}
{% if widget.description %}<h5>{{ widget.description }}</h5>{% endif %}
<a href="{% if widget.onpage %}#{{ widget.link|lower }}{% else %}{{ widget.link.get_navigation_url }}{% endif %}" class="btn {% if widget.circle %}btn-circle{% endif %} {% if widget.style %}btn-{{ widget.style }}{% endif %} page-scroll">
    {% if widget.icon %}<i class="fa fa-{{ widget.icon }}{% if widget.spin %} fa-spin{% endif %}{% if widget.size != None %} fa-{{ widget.size }}{% endif %} {% if widget.animated %}animated{% endif %}"></i>{% endif %} {{ widget.text_button }}
</a>
{% endblock %}